<ion-view title="Credits">
  <ion-nav-bar class="bar-positive">
	  <ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header text-center">
        <div class="list">
            <h3>Many Thanks to</h3>
			<h2>Guru Granth Saheb Ji</h2>
			<br />and others<br />
			<ion-list>
			  <ion-item>Prabhjot Kaur</ion-item>
			  <ion-item>Baljit Singh</ion-item>
			  <ion-item>Kultej Singh</ion-item>
			</ion-list>
        </div>
  </ion-content>

</ion-view>