  <div>
    <ion-header-bar>
      <h1 class="title">Help</h1><div class="button button-clear" ng-click="modal2.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content class="text-center" style="">
      <br />
      <div class="list">
          <div class="hindi-x-large">gurbwnI boD (ihNdI myN)</div>
      </div>
      <div class="hindi-medium" style="line-height:1.3; background-color:#eee">
        es mobwel Eyp myN gurbwnI v gurbwnI ky AQé ihNdI myN idXy gXy hY[ prNqu hm ABI qk ihNdI BwÀw ky sBI inXmoN ky pwln es Eyp myN pUrI qrh sy nhI kr pwXy hY[ Agr Awp ko EysI koeé glqI idKy, qo hmy jrUr bqwE[
        <p>&nbsp;</p>
        gurbwnI pVny ky kuC inXm es pRkwr hY:
        <ul>
          <li>AwKrI A–r pr " i " EvN " u" kI mw»w ko pRXog myN nhI lwnw hY[ Xwin "byANqu" AOr "byANiq" ko "byANq" pVnw hY, "duAw{" ko "duAwr" pVnw hY, "Awid scu jugwid scu" ko "Awd sc jugwd sc" pVnw hY[</li>
        </ul>
      </div>
      <p>&nbsp;</p>
      <div><ion-toggle ng-model="data.showHindi" ng-change="updateHindi()" toggle-class="toggle-positive">Show Hindi</ion-toggle><label style="font-size:12px">You can turn it off/on from the Settings page as well.</label></div>
      
      <br />
      <div >
        <button class="button button-positive" ng-click='dontShowAgain()' >
          <span>OK, got it. Don't show me again</span>
        </button>

      </div>
    </ion-content>
  </div>