<ion-view title="Home">
  <ion-nav-bar class="bar-positive">
	  <ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header text-center">
        <div class="list">
            <h2>Gurbani Bodh</h2>
            <h4>(What's the Meaning)</h4>
            <h4>Quiz on Gurbani Meaning</h4>
        </div>
        <div>
            We will ask you meaning of word(s) in a Gurbani Tuk with 4 options to choose from. Correct answer adds to your score. Each quiz asks 10 questions. 
			<p>&nbsp;</p>
            You can play as many times as you want. Quiz picks up random questions.
			<p>&nbsp;</p>
			Click on menu above (<span class="button-icon icon ion-navicon"></span>) to start your quiz. Let's see how much you score.
			<p>&nbsp;</p>
			All the best.
			<!-- English translations are referred from translations from S. Kulbir Singh Thind. Punjabi translation is referred to from translation of Prof. Saheb Singh ji. -->
        </div>
  </ion-content>

</ion-view>

