<ion-view ng-title="title" hide-back-button="true">
  <ion-nav-bar ng-class="barType">
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" ng-if="answer">
    <button class="button button-icon icon ion-arrow-right-b" ng-show="!isComplete" ng-click='goQuestion()'></button>
    <a class="button button-icon icon ion-checkmark-circled" ng-show="isComplete" ng-click='goToScore()'></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <div class="progress-bar" >
    <progress max="10" value="{{score}}" class="blue-range blue"></progress>
  </div>
  <ion-content class="has-header text-center" style="margin-top:5px; background-color:black">
  <div class="reveal-q-animation">
    <div class="">
      <div class="item item-text-wrap item-ques-page reveal-o-animation" ng-if="showTuk">
        <span class="punj-large" style="line-height:1.3; font-family: GurbaniAkhar">
          {{questionPunjParts[0]}} <span style="{{qwordStyle}}">{{wordPunj}}</span> {{questionPunjParts[1]}}
          <span class="item-icon" ng-click="modal.show()" ng-show="shabad"><i class="icon ion-help-circled royal"></i></span>
        </span>
        <!--button class="button" ng-click="modal.show()">Open Modal</button -->
        <span ng-hide="!showTranslit"><br /> {{questionEngParts[0]}} <span style="{{qwordStyle}}">{{wordEng}}</span> {{questionEngParts[1]}}</span>
      </div>
      <div ng-if="showQuesWord" class="item item-text-wrap item-ques-page reveal-o-animation" style="font-size:24px;line-height:1.3">
        <span class="punj-x-large">{{wordPunj}}</span> <span ng-hide="!showTranslit">/ {{wordEng}}</span>
      </div>
    </div>
      <div ng-if="show4Options" class="reveal-o-animation">
        <button style="font-size:18px" class="button button-block button-positive ques-option-button" ng-click='goAnswer("{{ques.Id}}", "{{ques.qOpt.Id}}", "{{options[0][0]}}")' ><span class="punj-medium">{{options[0][1]}} / </span>{{options[0][0]}}</button> <!-- ng-class="{'button-positive ': correctAnswerIndex != 0}" -->
        <button style="font-size:18px" class="button button-block button-positive ques-option-button" ng-click='goAnswer("{{ques.Id}}", "{{ques.qOpt.Id}}", "{{options[1][0]}}")' ><span class="punj-medium">{{options[1][1]}} / </span>{{options[1][0]}}</button>
        <button style="font-size:18px" class="button button-block button-positive ques-option-button" ng-click='goAnswer("{{ques.Id}}", "{{ques.qOpt.Id}}", "{{options[2][0]}}")' ><span class="punj-medium">{{options[2][1]}} / </span>{{options[2][0]}}</button>
        <button style="font-size:18px" class="button button-block button-positive ques-option-button" ng-click='goAnswer("{{ques.Id}}", "{{ques.qOpt.Id}}", "{{options[3][0]}}")' ><span class="punj-medium">{{options[3][1]}} / </span>{{options[3][0]}}</button>
      </div>
    </div>
    <div class="reveal-o-animation">
    <div class="">
      <div ng-if="showAnsWord" class="item item-text-wrap reveal-o-animation">
        <span class="punj-large" style="line-height:1.3;">{{wordPunj}} : {{ansPunj}}</span>
        <span ng-hide="!showTranslit">
          <br />
          <span class="" >{{wordEng}} : </span>
        </span>
        <span ng-hide="showTranslit"> / </span>
        {{ansEng}}
      </div>
      <div ng-if="showMeaning" class="reveal-o-animation">
        <div class="item item-text-wrap punj-medium padding" style="line-height:1.3;"><span style="color:maroon">{{explPunj[1]}}</span> <br /><span style="color:teal">{{explPunj[0]}}</span></div>
        <div class="item item-text-wrap"><span style="color:darkblue">{{explEng}}</span></div>
      </div>
    </div><br/><br/><br/>
    <!--div class="padding">
      <a class="button button-block button-small button-positive" ng-show="!isComplete" href="#/app/ques">Next Question</a>
      <a class="button button-block button-small button-positive" ng-show="isComplete" href="#/app/score">Score </a>
    </div-->
  </div>
  </ion-content>
  <div class="tabs psd-tab-left" class="reveal-a-animation">
    <button ng-if="showBtnGoQues" class="button button-block button-dark nav-button" ng-click='goQuestion()' >
        <span class="punj-medium">suAwl pu~Co</span><br/>Ask Question
      </button>
  </div>
  <div class="tabs psd-tab" class="reveal-a-animation">
    <button ng-if="showBtnGoMeaning" class="button button-block button-dark nav-button" ng-click='goMeaning()' >
        <span class="punj-medium">ArQ d~so</span><br/>Show Meaning
      </button>
    <div class="tab-item psd-tab-item" ng-if="showBtnGoTuk" ng-show="!isComplete" ng-click='goTuk()'><i class="icon ion-arrow-right-b psd-icon-home"></i></div>
    <div class="tab-item psd-tab-item" ng-if="showBtnGoTuk" ng-show="isComplete" ng-click='goToScore()'><i class="icon ion-checkmark-circled psd-icon-home"></i></div>
  </div>

  <!-- ion-footer-bar>
    <!-- div class="reveal-o-animation">
      <button ng-if="showBtnGoQues" style="font-size:18px" class="button button-block button-positive ques-option-button" ng-click='goQuestion()' >
        <span class="punj-medium">suAwl pu~Co / </span>Ask Question
      </button>
      <button ng-if="showBtnGoMeaning" style="font-size:18px" class="button button-block button-positive ques-option-button" ng-click='goMeaning()' >
        <span class="punj-medium">ArQ d~so / </span>Show Meaning
      </button>
      <button ng-if="showBtnGoTuk" style="font-size:18px" class="button button-block button-positive ques-option-button" ng-click='goTuk()' >
        <span class="punj-medium">AglI quk / </span>Show Next Tuk
      </button>
    </div - - >
    <div class="buttons">
      <button ng-if="showBtnGoQues" style="font-size:18px" class="button button-block button-positive ques-option-button" ng-click='goQuestion()' >
        <span class="punj-medium">suAwl pu~Co / </span>Ask Question
      </button>
    </div>
    <div class="buttons" ng-click="doSomething()">
      <button ng-if="showBtnGoMeaning" style="font-size:18px" class="button button-block button-positive ques-option-button" ng-click='goMeaning()' >
        <span class="punj-medium">ArQ d~so / </span>Show Meaning
      </button>
      <button ng-if="showBtnGoTuk" style="font-size:18px" class="button button-block button-positive ques-option-button" ng-click='goTuk()' >
        <span class="punj-medium">AglI quk / </span>Show Next Tuk
      </button>
    </div>
  </ion-footer-bar -->
</ion-view>

