<ion-view ng-title="title" hide-back-button="true">
  <ion-nav-bar ng-class="barType">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <div class="progress-bar" >
    <progress max="10" value="{{score}}" class="blue-range blue"></progress>
  </div>
  <ion-content class="has-header text-center" style="margin-top:5px; background-color:black">
  <!-- wtm-tuk-directive headertxt="qwordStyle"></wtm-tuk-directive><wtm-tuk-directive>000</wtm-tuk-directive -->
  <div id="topOfPage"></div>
  <!-- - - - - - - - - - - - - Gurbani Tuk - - - - - - - - - - - - -->
  <div class="">
    <div class="">
      <div class="item item-text-wrap item-ques-page reveal-o-animation">
        <span class="punj-large" style="line-height:1.3; font-family: GurbaniAkhar">
          {{questionPunj}}
          <span class="item-icon" ng-click="modal.show()" ng-show="shabad">
            <i class="icon ion-help-circled royal"></i>
          </span>
        </span>
        <span class="hindi-large" style="line-height:1.3; font-family: GurbaniHindi" ng-hide="!showHindi"></br />
          {{questionPunj.fixForHindi()}}
        </span>
        <span ng-hide="!showTranslit"><br /> {{questionEng}}</span>
      </div>
    </div>
  </div>
  <!-- - - - - - - - - - - - - Explanation - - - - - - - - - - - - -->
  <div class="">
    <div class="">
      <div ng-if="showMeaning" class="reveal-o-animation">
        <div class="item item-text-wrap punj-medium padding" style="line-height:1.3;">
          <span style="color:maroon">{{explPunj[1]}}</span>
        </div>
        <div ng-hide="!showHindi" class="item item-text-wrap hindi-medium padding" style="line-height:1.3;">
          <span style="color:maroon">{{explPunj[1].fixForHindi()}}</span>
        </div>
        <div class="item item-text-wrap"><span style="color:darkblue">{{explEng}}</span></div>
      </div>
    </div>
    <br/><br/><br/>
  </div>
  </ion-content>
  <div class="tabs psd-tab-left" class="reveal-a-animation">
    <button class="button button-block button-dark nav-button" ng-click='goQuestionFromLearn()' >
        <span class="punj-medium">suAwl pu~Co</span><br/>Ask Question
      </button>
  </div>
  <div class="tabs psd-tab" class="reveal-a-animation">
    <button ng-if="showBtnGoMeaning" class="button button-block button-dark nav-button" ng-click='goMeaning()' >
        <span class="punj-medium">ArQ d~so</span><br/>Show Meaning
      </button>
  </div>
</ion-view>

