  <div class="modal">
    <ion-header-bar>
      <h1 class="title">Shabad</h1><div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
      <div style="margin:10px 5px 5px 10px; ">
        <span class="punj-large" style="line-height:1.3; font-family: GurbaniAkhar; ">
          <span class="punj-large" style="line-height:1.3; font-family: GurbaniAkhar">
            {{shabad[0]}} <span style="color:red">{{tuk}}</span> {{shabad[1]}}
          </span>
        </span>
      </div>
    </ion-content>
  </div>