  <div class="modal">
    <ion-header-bar>
      <h1 class="title">Help</h1><div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content class="text-center">
      <div class="list">
          <h2>Gurbani Bodh</h2>
          <h4>(What's the Meaning)</h4>
          <h4>Quiz on Gurbani Meaning</h4>
      </div>
      <div>
        We will ask you meaning of word(s) in a Gurbani Tuk with 4 options to choose from. Correct answer adds to your score. Each quiz asks 10 questions. 
        <p>&nbsp;</p>
          You can play as many times as you want. Quiz picks up random questions.
        <p>&nbsp;</p>
        LEARN MODE: Learning Mode allows you to first understand the meaning of the Tuk and will then ask you the question based on that Tuk. Go to Settings to turn on Learning Mode
        <p>&nbsp;</p>
        Click on Bani buttons to start your quiz. Let's see how much you score.
        <p>&nbsp;</p>
        All the best.
        <!-- English translations are referred from translations from S. Kulbir Singh Thind. Punjabi translation is referred to from translation of Prof. Saheb Singh ji. -->
      </div>
    </ion-content>
  </div>