<ion-view title="Scoreboard" hide-back-button="true">
  <ion-nav-bar class="bar-positive">
	  <ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	  </ion-nav-buttons>
	  <ion-nav-buttons side="right">
		<a class="button" ng-click='goToQuestion()'>Continue</a>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header text-center">
        <div class="font-large">
            <h2>{{score}}</h2>
        </div>
        {{feedback}}<hr/>
        Review All Answers
        <!--div>
        	<ion-toggle ng-model="learnMode" ng-change="updateLearnMode()" toggle-class="toggle-positive">Learning Mode <br/><label style="font-size:12px">Switching to Learning Mode will allow you <br/>to first understand the meaning of the Tuk <br/>and will then ask you the question based<br/> on that Tuk.</label></ion-toggle>
        </div -->
	    <div class="text-center" ng-repeat="ques in allQuiz" style="background-color:{{(success.indexOf(ques.Id) >= 0) && 'green' || 'red' }}">
			<div class="card">
		        <div class="item item-text-wrap padding">
			        <span class="punj-medium" style="line-height:1.3;">
						{{ques.quesPunj}}
					</span>
					<span ng-hide="!showHindi" class="hindi-medium" style="line-height:1.3;">
			        	<br />
						{{ques.quesPunj.fixForHindi()}}
					</span>
					<span ng-hide="!showTranslit">
						<br />
						{{ques.quesEng}}
					</span>
			    </div>
		        <div class="item item-text-wrap font-large">
			        <span class="punj-large" style="line-height:1.3;">
			        	{{ques.qOpt.wordPunj}} : {{ques.qOpt.ansPunj}}
			        </span>
			        <span ng-hide="!showHindi" class="hindi-large" style="line-height:1.3;">
			        	<br />
			        	{{ques.qOpt.wordPunj.fixForHindi()}} : {{ques.qOpt.ansPunj.fixForHindi()}}
			        </span>
					<span ng-hide="!showTranslit">
						<br />
                        {{ques.qOpt.wordEng}}
					</span>
					<span ng-hide="showTranslit"> / </span>
					{{ques.qOpt.ansEng}}
		        </div>
		        <div class="item item-text-wrap punj-medium padding" style="line-height:1.3;">
		        	<span style="color:maroon">{{ques.explPunj.split(' *** ')[1]}}</span> 
		        	<br />
		        	<span style="color:teal">{{ques.explPunj.split(' *** ')[0]}}</span>
		        </div>
		        <div ng-hide="!showHindi" class="item item-text-wrap hindi-medium padding" style="line-height:1.3;">
		        	<span style="color:maroon">{{ques.explPunj.split(' *** ')[1].fixForHindi()}}</span> 
		        	<br />
		        	<span style="color:teal">{{ques.explPunj.split(' *** ')[0].fixForHindi()}}</span>
		        </div>
		        <div class="item item-text-wrap"><span style="color:darkblue">{{ques.explEng}}</span></div>
			</div>
	    </div>
  </ion-content>
  <div class="tabs psd-tab">
	<a class="button button-icon icon ion-forward psd-icon-home" ng-click='goToQuestion()'></a>
  </div>
</ion-view>
