<div class="container">
	<div class="bar bar-header bar-positive topcoat-navigation-bar">
		<button class="button" data-ng-click="exit()">Exit</button>
		<div class="title topcoat-navigation-bar__item">Welcome</div>
        <span>&nbsp;</span><!-- button class="button" ng-show="currentDate<expiresOn" data-ng-click="go('/ques')">Start</button -->
	</div>
	<br/><br/><br/>
    <div class="content padding text-center">
        <div class="list">
            <h2>Gurbani Bodh</h2>
            <h4>(What's the Meaning)</h4>
            <h4>Quiz on Gurbani Meaning</h4>
        </div>
        <div class="button-bar">
            <button class="button button-positive" data-ng-click="go('/ques/japji')">Japji</button>
            &nbsp;&nbsp;&nbsp;<button class="button button-positive" data-ng-click="go('/ques/misc')">Assorted</button>
            <!-- button class="button button-positive" data-ng-click="go('/test')">Test</button>&nbsp;&nbsp;&nbsp;
            <button class="button button-positive" data-ng-click="go('/testoption')">Test Option</button -->
        </div>
        <div>
			<p>&nbsp;</p>
            We will ask you meaning of word(s) in a Gurbani Tuk with 4 options to choose from. Correct answer adds to your score. Each quiz asks 10 questions. 
			<p>&nbsp;</p>
            You can play as many times as you want. Quiz picks up random questions.
			<p>&nbsp;</p>
			Click on buttons above to start your quiz. Let's see how much you score.
			<p>&nbsp;</p>
			All the best.
			<!-- English translations are referred from translations from S. Kulbir Singh Thind. Punjabi translation is referred to from translation of Prof. Saheb Singh ji. -->
        </div>
    </div>
	<!--div class="bar bar-footer bar-balanced">
	  <div class="title">Preview release expires 03-June-2014</div>
	</div-->
</div>
